ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555555;
  color: white;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul li a{
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #555555;
  color: white;
}

.horizontal{
    float: left;
    width: 100%;
    display: flex;
}

li a.home {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not() {
  background-color: #555555;
  color: white;
}
.horizontal{
    float: left;
    color: black;
    display: flex;
}

ul .horizontal{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #616161;
  color: black;
}

li a.right {
  float: right;
  display: flex;
}