.container {   
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  height: max-content;
  width: max-content;
}
.content{
    display: flex;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    position: absolute;
    border-radius: 10px;
}
.content:hover {
    transform: scale(1.1);
    cursor: pointer;
    z-index: 40; /* Bring to front on hover */
}
.content1 {
  background-color: #cdb4db;
  top: 100px;
  left: 100px;
  z-index: 1;
}
.content2 {
  background-color: #ffafcc;
  top: 150px;
  left: 150px;
  z-index: 20;
}
.content3 {
  background-color: #a2d2ff;
  top: 200px;
  left: 200px;
  z-index: 3;
}
