body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px;
  background: linear-gradient(to right, #cdb4db, #bde0fc, #ffafcc);
}

h1 {
  margin-bottom: 10px;
}

button {
  padding: 10px 18px;
  margin: 5px;
  border: none;
  border-radius: 6px;
  background-color: #bde0fc;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color:#ffafcc;
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

input, select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 220px;
  background-color: #bde0fc;
}

.game {
  display: none;
  margin-top: 30px;
}

#mathMessage,
#switchMessage,
#countResult {
  margin-top: 15px;
  font-weight: bold;
}
