body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-image: url(jhvxdvdw.jpg);
}
.game-container {
    display: flex;
    justify-content: space-around;
    border: 1px solid #000;
}
.player-container {
    border: 1px solid #000;
    padding: 10px;
    width: 40%;
    background: rgba(255, 255, 255, 0.3); /* transparent */
    display: inline-block;
}
#game-log {
    border: 1px solid #000;
    padding: 10px;
    height: 200px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.3); /* transparent */
    margin-top: 20px;
}

button, input, select {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}
.health-bar {
    width: 100%;
    height: 20px;
    background: red;
    margin: 10px 0;
}
.health-bar-inner {
    width: 20px;
    height: 20px;
    background: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.weapon-container {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.weapon {
    width: 50px;
    cursor: pointer;
    border: 2px solid transparent;
}

.weapon:hover {
    border: 2px solid black;
}
